.hero-404{
    background-color: #7f43f1;
    background-image: linear-gradient(to bottom right, #7f43f1,#9367e6);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
}